<div class="row card-group text-center">
    <div *ngFor="let service of services" class="col-4 card">
        <a [routerLink]="[service.ServiceID]">
            Book Now!<br>
        </a>

            Service:  {{service.ServiceName}}<br><br>
            Description:  {{service.Description}}<br><br><br>
            Price: $  {{service.Price}}<br>
            Duration (Minutes):  {{service.Minutes}}<br>

        <!-- <img [src]="category.Image"> -->


        <!-- <a [routerLink]="['/presentation', service.ServiceID]">{{service.ServiceID}}{{service.ServiceName}}{{service.CategoryName}}</a> -->
        <!-- <img src="assets/accupuncture.jpg"> -->
    </div>
</div>
