<div class="card mx-auto text-center border-light" style="width: 40rem;">
    <div class="card-body">
        <h5 class="card-title">Cody's Spa</h5>
        <p class="card-text">
            Cody's Spa offers a number of services to help you feel relaxed, refreshed, and beautiful. On our website
            you will find
            what services and treatments that we offer, customer reviews, and more information about our business.
            <br><br><br>

            Here is some of what we offer

        </p>
        <ul>
            <li>Acupuncture</li>
            <li>Body Treatments</li>
            <li>Hair Salon</li>
            <li>Massage and Bodywork</li>
            <li>Nail Salon</li>
            <li>Skin Care</li>
        </ul>
    </div>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2">
    <div class="col" *ngFor="let review of reviews">
        <div class="card shadow-sm h-100 text-center">
            <div class="card-body">
                <h4 class="card-title">{{review.reviewer}}</h4>
                <p class="card-text">{{review.comment}}</p>
                <p class="card-text">{{review.date}}</p>
            </div>
        </div>
    </div>
  </div>
